<head>
    <meta charset="utf-8"/>
    <title>News</title>
</head>
<body>
<div class="row">
    <h2>News z WP, INTERIA, ONET</h2>
    <p><a href="{% url 'home' %}" class="button">Home</a></p>
    <p><a href="{% url 'onet' %}" class="button">News z serwisow</a></p>
    <p><a href="{% url 'wyszukaj' %}" class="button">Wyszukaj</a></p>
        <hr />

</div>
<div class="content" role="content">
    {% block content %}{% endblock %}

</div>

</body>